<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../static/customers.css">
</head>

<body>
    <nav>
        <div class="left-nav">
            <ul class="navbar-nav">
                <li class="nav-item">Home</li>
                <li class="nav-item">About</li>
                <li class="nav-item">Instagram</li>
                <li class="nav-item">Youtube</li>
            </ul>
        </div>
        <div class="right-nav">
<!--            <div class="search">-->
<!--&lt;!&ndash;                <img src="images/search.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="text" placeholder="search">&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="user-icon online" onclick="setting_menu_toggle()">-->
<!--&lt;!&ndash;                <img src="images/user 2 profile.jpg">&ndash;&gt;-->
<!--            </div>-->
        </div>
        <div class="setting-menu">
            <div id="dark-mode" class="turn-on">
                <span></span>
            </div>
            <div class="setting-menu-inner">
                <div class="user-profile">
                    <img src="images/user 2 profile.jpg">
                    <div>
                        <p style="font-weight: 550;">Zaynap Sabry</p>
                        <a href="#">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="setting-links">
                    <img src="images/feedback.jpg" class="setting-icon">
                    <a href="#">Contact Me </a>
                </div>
                <hr>
                <div class="setting-links">
                    <img src="images/setting.jpg" class="setting-icon">
                    <a href="#">User Setting <img src="images/arrow.jpg" width="9px"></a>
                </div>
                <div class="setting-links">
                    <img src="images/helpcenter.jpg" class="setting-icon">
                    <a href="#">Help Center <img src="images/arrow.jpg" width="9px"></a>
                </div>
                <div class="setting-links">
                    <img src="images/display.jpg" class="setting-icon">
                    <a href="#">Dark Mode</a>
                </div>
                <div class="setting-links">
                    <img src="images/logout.jpg" class="setting-icon">
                    <a href="#">Log Out <img src="images/arrow.jpg" width="9px"></a>
                </div>
            </div>
        </div>

    </nav>
    <div class="center">
        <div class="details">
            <table>
                        <caption>customers</caption>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>plan Type</td>
                                <td></td>
                                <td>contact</td>
                            </tr>
                        </thead>

                        <tbody>{{#each accounts}}
                            <tr id="{{this.id}}">
                                <td>{{this.username}}</td>
                                <td>{{this.plan}}</td>
                                <form action="/post/delCust" method="post">

                                <td><input type="text" name="id" value="{{this.id}}" style="display:none">
                                    <button type="button" id="btn{{this.id}}" onclick="deleteRow(this.id);" class="del">delete</button></td>
                                </form>
                                <td>
                                    <input type="checkbox" id="show">
                                    <label for="show" class="show-btn">send msg</label>
                            
                                    <div class="container">
                                            <label style="display:none">{{this.email}}</label>
                                            <label for="show" class="close-btn" title="close">×</label>
                                            <label>Massage</label>
                                            <input type="text"/>
                                            <button id="send{{this.id}}" onclick="sendMsg(this.id);"> Send </button>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
        </div>
    </div>
    <script src="../static/script.js"></script>
<script>
        function deleteRow(id){
            const btnDel = document.getElementById(id);
            btnDel.closest("tr").remove();
            let delAcc = require('../controllers/post')
            delAcc.delCust();
        }
        function sendMsg(id){
            const btnSend = document.getElementById(id);
            const div = btnSend.parentElement;
            let email = div.children[0].innerHTML;
            let content = div.children[3].nodeValue;
            window.open('mailto:'+email+'?body='+content);
        }

</script>

</body>